FRONTEND_PORT=3000
BACKEND_PORT=4000
LOGO_BACKEND_URL=http://backend:4000
LOGO_IP=192.168.0.3
LOGO_PORT=502
UNIT_ID=1
READ_INTERVAL_MS=2000
REGISTER_OFFSET=0
REGISTER_COUNT=1
PUMP_WRITE_MODE=coil
PUMP_COIL_ADDRESS=8256
PUMP_REGISTER_ADDRESS=
PUMP_REGISTER_ON_VALUE=1
PUMP_REGISTER_OFF_VALUE=0
